@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  margin: 0;
  padding: 0;
  min-width: 600px;
  background-color: #eeeeee;
  font-family: 'Raleway', sans-serif;
  color: #222222;
}

body > .content {
  padding: 0 5%;
}

a, a:focus, a:visited {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #960018;
  }
}

header.application-header {
  height: 20%;
  background-color: #dddddd;
  display: flex;
  border-bottom: 1px solid #cccccc;

  .application-header-menu {
    //margin-bottom: 1%;
    padding: 1%;
    width: 50%;

    &__list-item {
      padding: 1%;
      &:hover {
        background-color: #cccccc;
      }
    }
  }
  .playing-playlist {
    padding: 1%;
    background-color: #cccccc;
  }
}
